@import 'base';
@import 'abstract';
@import 'components';
.highlight {
    background-color: #ddd;
}
.demo {
    > button{
        margin: .7rem;
    }
    > p{
        font-size: 1.8rem;
    }
}
.expected{
    > p{
        font-size: 1.8rem;
    }
}

    